<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>learn vue.js 3</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="parent">
<!--        <h1>Hello I am {{name}}</h1>-->
<!--        <p>My Age Is {{age}}</p>-->
<!--        <p>{{sayHello(name)}}</p>-->
<!--        <a :href="link">Memo</a>-->
<!--        <br>-->
<!--        <br>-->
<!--        <img :src="img" alt="img">-->
<!--        <button @dblclick="clickFunc">click</button> -->

        <!--                            break                                 -->

<!--        <h1>counter is {{num}}</h1>-->
<!--        <button @click="clickFunc">counter + 1</button>-->

        <!--                            break                                 -->

<!--        <a href="https://www.google.com">google</a>-->
<!--        <br>-->
<!--        <a href="https://www.google.com" @click.prevent>google</a>-->
<!--        <hr>-->
<!--        <a href="#" @click="transport">transport</a>-->
<!--        <br>-->
<!--        <a href="#" @click.once="transport">transport</a>-->

        <!--                            break                                 -->

<!--            <label>To</label>-->
<!--            <input type="text" v-model="sendTo" id="inp1">-->

<!--        <br>-->
<!--        <br>-->

<!--            <label>From</label>-->
<!--            <input type="text" v-model="sender" id="inp2">-->

<!--        <br>-->
<!--        <br>-->

<!--            <label>Message</label>-->
<!--            <textarea type="text" v-model="message" id="inp3"></textarea>-->

<!--        <br>-->
<!--        <br>-->
<!--        <br>-->

<!--        <div class="writeAnEmail">-->
<!--            <label for="inp1">to:  {{sendTo}}</label>-->

<!--            <br>-->
<!--            <br>-->

<!--            <label for="inp2">from:  {{sender}}</label>-->

<!--            <br>-->
<!--            <br>-->
<!--            <br>-->
<!--            <br>-->
<!--            <br>-->
<!--            <br>-->

<!--            <label for="inp3">-->
<!--            <span class="">{{message}}</span>-->
<!--            </label>-->
<!--        </div>-->

        <!--                            break                                 -->


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
</body>
</html>